{
  "plugins": ["prettier-plugin-organize-attributes"],
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "htmlAttributeIndent": 2,
  "attributeGroups": [
    "^else$",
    "^class$",
    "^(id|name|slot|replace-part)$",
    ".ref$",
    "^if.bind$",
    ".for$",
    "$DEFAULT",
    ".(bind|call|two-way|one-way|delegate|trigger|capture|one-time)$",
    "^(style|css)$"
  ],
  "printWidth": 120
}
