.ProcessingStatusIcon .main-icon-img {
	font-size: 80px;
	margin: -10px;
}
.ProcessingStatusIcon .main-icon {
	height: 70px;
	width: 70px;
}
.ProcessingStatusIcon div.checkBox {
	height: 100px;
	width: 50px;
}

.startedLine {
	font-weight: 800 !important;
}

.completedLine {
	color: green !important;
}

.excessedLine {
	color: orangered !important;
}